@font-face {
  font-family: 'a_FuturicaLt';
  src: url('../fonts/a_FuturicaLt/afuturicaltthin.ttf') format('trueType');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'a_FuturicaLt';
  src: url('../fonts/a_FuturicaLt/afuturicaltsemibold.ttf') format('trueType');
  font-display: swap;
  font-weight: 600;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* ::-moz-placeholder,
:-moz-placeholder {
  opacity: 1;
} */

:focus {
  outline: 0;
}

:root {
  --text-size-mini: 3rem;
  --color-ye: #E5DF22;
  --color-bl: #16222A;
}

h1,
p {
  margin: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-size: 62.5%; */
  /* 16px*0.62.5% = 10px */
  font-size: 22px;
  color: #fff;
  background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  line-height: 1.91;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input {
  outline: none;
  border: none;
}

input,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input {
  background: rgb(1, 1, 1, .05);
  width: 100%;
}

input:focus {
  border: none;
  outline: none;
  transition: 0.2s ease-in;
}

input:invalid {
  border: red;
}

button {
  cursor: pointer;
  background-color: transparent;
  transition: .3s ease-in-out;
  color: inherit;
}


.burger-btn__open {
  background-image: url(../image/burger_menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
  border: none;
  height: auto;
  width: 24px;
  color: transparent;
  width: 50px;
  color: transparent;
  height: 50px;
}

/* кнопка закрыть меню  image/burger_close.svg */
.burger-btn__close {
  position: absolute;
  top: 40px;
  right: 40px;
  display: block;
  height: 20px;
  width: 20px;
  border: none;
  background-image: url(../image/burger_close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

/* бургер меню */
.modal__mb {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  transition: all 0.2s ease-in-out;
}

.modal__mb_window {
  position: relative;
  background: linear-gradient(90deg, #16222A 0%, #3A6073 100%);
  padding: 40px 20px;
  height: 100%;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.burger-link {
  margin-top: 30px;
}

.modal_link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 136.8%;
  letter-spacing: 0.04em;
  /* text-transform: uppercase; */
  text-decoration: none;
  color: #ffffff;
}

.modal_logo {
  display: block;
  background-image: url(../image/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 116px;
  height: 29px;
}

.modal_box {
  display: flex;
  justify-content: space-between;
}

._locked {
  overflow: hidden;
}

/* moby-modal-off */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  padding: 81px 0;
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;

}

.container {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1370px;
  margin: 0 auto;
}

/* модальное окно начало */
._locked {
  overflow: hidden;
}

.modal__btn {
  border: none;
  background-color: #f36262;
  padding: 5px 10px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 20px;
  font-size: 16px;
  cursor: pointer;
}

._modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
  pointer-events: none;
}

.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.modal-body {
  padding: 24px;
  background-color: #fff;
  width: 700px;
  margin: auto;
  max-height: 90%;
  overflow: auto;
  border-radius: 16px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.modal-close:before,
.modal-close:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: black;
  right: 0;
}

.modal-close:before {
  transform: rotate(45deg);
}

.modal-close:after {
  transform: rotate(-45deg);
}

/* модальное окно конец  */
/* бургер меню  */


.modal_window {
  background-color: #252525;
  padding: 113px 20px;
  height: 100%;
  width: 100%;
  max-width: 229px;
}

.header-modal-close {
  background-image: url(../image/close.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 20px;
  top: 20px;
  height: 16.97px;
  width: 16.97px;
}

.burger-link::after {
  display: block;
  position: relative;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #A8A8A8;
  transition: width .2s ease-in-out, left .5s ease-in-out;
  left: 0%;
  bottom: -10px;
}

.burger-link a {
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

._active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}

.burger_active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  left: 0;
}



.burger-btn {
  background-image: url(../image/burger-menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: transparent;
  height: 16px;
  width: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #858585;
}

.to-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  background: gray;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 5;
  transform: scale(1);
  transition: .3s linear;

}

.to-up:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__come-in {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-self: end;
}

.header__logo {
  width: max(196px, 116px);
  margin-right: 3.8vw;
}

.navigation {
  margin-right: 20px;
  flex-grow: 1;
}

.header__img {
  display: block;
  transform: scale(1);
  transition: .2s ease-out;
}

.header__img:hover {
  transform: scale(1.2);
}

.nav__link {
  font-size: 16px;
  font-size: calc((100vw - 768px)/(1920 - 768) * (16 - 14) + 14px);
  transition: .3s ease-in-out;
}

.nav__link:hover {
  color: var(--color-ye);
}

.header__inner {
  margin-right: 3.5vw;
}

.header__open {
  color: var(--color-ye);
  transition: .3s ease-in-out;
  margin-right: 15px;
}

.header__open:hover {
  color: #fff;
}

.header__reg {
  background-color: var(--color-ye);
  border: 1px solid var(--color-ye);
  color: #000;
  background: #E5DF22;
  border-radius: 5px;
  padding: 12px 24px;
  transition: .3s ease-in-out;
  /* margin-right: calc((100vw - 768px)/(1920 - 768) * (100 - 30) + 30px); */
}

.header__reg:hover,
.hiro__btn:hover {
  background: transparent;
  color: #fff;
}

.header__lang {
  transition: .3s ease-in-out;
}

.header__lang:hover,
.modal_link:hover {
  color: var(--color-ye)
}

/* .wrapper {

} */
.hiro_flx {
  display: flex;
  justify-content: space-between;
  position: relative;

}

.hiro__img {
  position: relative;
  right: 0;
  top: 0;
  width: 932px;
  height: 909px;
  text-align: center;
}
.hiro__image_blur {
  max-width: 938px;
}
.hiro__image {
  /* position: absolute; */
  /* top: 0; */
  /* max-width: 932px; */
  /* right: 0; */
  /* display: none; */
}

.hiro__text {
  flex: 0 0 51%;
  margin-right: 20px;
  padding-top: 50px;
  padding-left: max(40px, calc(100% - 1294px)/2);
}

.hiro__title {
  font-family: a_FuturicaLt, sans-serif;
  font-weight: 600;
  font-size: 60px;
  font-size: calc((100vw - 768px)/(1920 - 768) * (60 - 40) + 40px);
  line-height: 1.3;
  margin-bottom: 40px;
  max-width: 82%;
}

.hiro__description {
  font-size: 22px;
  line-height: 1.9;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 46px;
}

.hiro__start {
  margin-bottom: 124px;
}

.hero__input {
  max-width: 410px;
  font-size: 16px;
  padding: 12px 24px;
  color: black;
  border-radius: 5px;
  background-color: #fff;
  height: 48px;
  margin-right: 28px;
}

.hiro__btn {
  width: 144px;
  font-size: 16px;
  padding: 12px 24px;
  background: #E5DF22;
  border-radius: 5px;
  color: #000;
  border: 1px solid var(--color-ye);
}

.hiro__about {
  display: flex;
  gap: 40px;
}

.hero__subtitle {
  font-weight: 600;
  font-size: 32px;
}

.hero__subtitle_pd {
  padding-left: 0;
}

.hero__subtitle-text {
  opacity: 1;
}

.hiro__box {
  max-width: 207px;
  width: 100%;
}

.hiro__box_r {
  max-width: 393px;
}
.burger-reg {
  margin-top: 20px;
}
.header__open_reg {
  display: block;
  margin-bottom: 20px;
}
/* ку ку  */
@media (max-width: 1260px) {
  .navigation {
    display: none;
  }

  .burger-btn__open {
    display: block;
  }

  .header {
    grid-template-columns: 1fr 1fr;
  }

  .hiro__text {
    flex: 0 0 59%;
  }

  .header__inner {
    display: none;
  }
  .header__lang {
  margin-right: 55px;
}
}
@media (max-width: 1064px) {
  .hero__input {
    max-width: 280px;
  }
}
@media (max-width: 912px) {
  .hero__input {
    margin-bottom: 24px;
    display: block;
  }
  .hiro__btn {
    width: 280px;
  }
}
@media (max-width: 768px) {
  .hiro__title {
    margin-bottom: 35px;    
  }
  .hiro_flx {
    flex-direction: column;
  }
  .hero__input {
    max-width: 280px;
    margin-bottom: 24px;
  }
  .hiro__about {
    gap: 30px;
    flex-direction: column;
  }
}
@media (max-width: 567px) {
  .header {
    padding: 61px 0;
  }
  .header__logo {
    width: 116px;
  }
  .hiro__title {
    font-size: calc((100vw - 320px)/(567 - 320) * (28 - 26) + 26px); 
    margin-bottom: 35px;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hiro__text {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* font-size: calc((100vw - 768px)/(1200 - 768) * (18 - 14) + 14px); */